name: Keep Streamlit App Awake

on:
  schedule:
    - cron: "0 1,7,15,22 * * *"
  workflow_dispatch:

jobs:
  refresh:
    runs-on: ubuntu-latest
    steps:
      # Checkout repo
      - uses: actions/checkout@v3

      # Setup Python
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.13


      # Run update script
      - name: Open App
        run: |
          python data_load/browse_web.py
